@import '../global';

$cmp: '.releases';
#{$cmp} {
  color: $color-white;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  // https://css-tricks.com/radial-gradient-recipes/
  background:
          radial-gradient(
                          circle at top left,
                          rgba(255, 255, 255, 0.5),
                          transparent 75vw
          ),
          radial-gradient(
                          circle at top right,
                          rgba(255, 255, 255, 0.5),
                          transparent 75vw
          ),
          radial-gradient(
                          at bottom left,
                          rgba(255, 0, 255, 0.5),
                          transparent 100vw
          ),
          radial-gradient(
                          at bottom right,
                          rgba(255, 100, 100, 0.5),
                          transparent 100vw
          );

  &__welcome {
    position: fixed;
    top: $base-size--five;
    text-align: center;
    width: 100%;
    font-size: fs(2);
    line-height: 1;

    h1 {
      margin: 0;
      font-size: fs(4);
    }
  }

  &__slider {
    margin: 0 auto;
    padding: 0 $base-size--five * 10;
    display: flex;
  }

  &__nav {
    position: fixed;
    right: $base-size--double;
    top: 50%;
    transform: translateY(-50%);
  }

  &__more-btn {
    background: rgba(255,255,255,0.2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    color: $color-white;
    cursor: pointer;
    user-select: none;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 0;
    }

    &:hover {
      background: $color-red;
    }
  }
}