@import '../global';

$cmp: '.release';
#{$cmp} {
  color: $color-dark-grey;
  margin-right: $base-size--four;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:hover {
    color: $color-red;
  }

  &__dot {
    height: $base-size--four;

    &__bubble {
      position: relative;
      content: '';
      display: inline-block;
      height: $base-size--four;
      width: $base-size--four;
      background-color: $color-white;
      border-radius: 50%;
      transform-origin: center;
      z-index: 1;
    }

    &__stroke {
      content: '';
      position: absolute;
      left: $base-size--four;
      top: $base-size--four / 2;
      display: block;
      width: 0;
      height: 2px;
      background: $color-white;
      //background: linear-gradient(90deg, $color-dark-grey 0%, $color-blue 100%);
    }
  }

  &__date {
    position: absolute;
    top: -$base-size--five;
    left: $base-size--double;
    transform: rotate(-45deg);
  }

  &__label {
    transform: rotate(-90deg);
    transform-origin: 32px 37px;
    font-size: fs(3);
    font-weight: bold;

    &::after {
      display: block;
      width: 100px;
      height: 2px;
      background: #fff;
    }
  }

  &__content {
    margin-top: -$base-size--four;
    padding-left: $base-size--four;
  }

  &__icon {
    border-radius: $base-size--double;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba($color-dark-grey, 0.5);
    width: 120px;
    height: 120px;
  }

  // modifier
  &--fixfor {
    margin-right: 0;
    color: $color-white;

    #{$cmp} {
      &__dot {
        &__bubble {
          top: $base-size;
          left: $base-size;
          height: $base-size--double;
          width: $base-size--double;
        }

        &__stroke {
          left: $base-size;
        }
      }

      &__icon {
        width: 50px;
        height: 50px;
      }
    }
  }

  &--is-first {
    &#{$cmp} {
      &--is-last {
        margin-right: 0;
      }
    }
  }

  &--is-last {
    #{$cmp} {
      &__dot {
        &__stroke {
          display: none;
        }
      }
    }
  }

  &--is-active {
    color: $color-blue!important;
  }

  // cases of strokes
  //&--fixfor {
  //  + #{$cmp}--fixfor {
  //    #{$cmp}__dot__stroke {
  //      background: $color-white;
  //    }
  //  }
  //}
}