@import '../global';

$cmp: '.release-detail';
#{$cmp} {
  max-width: 600px;
  margin: 0 auto;

  &__meta {
    font-size: fs(0);
    margin: $base-size;
  }

  &__notes {
    font-size: fs(-1);
  }

  &__links {
    margin: $base-size--double;
    font-size: fs(0);
    display: flex;
    justify-content: center;

    &:empty {
      margin: 0;
    }

    a {
      margin-right: $base-size;
      display: inline-block;
      color: $color-dark-grey;
    }
  }

  &__img {
    margin: $base-size--double;
    padding-bottom: 0;

    a {
      display: inline-block;
    }

    img {
      width: 40px;
      height: 40px;
      background: $color-white;
      margin-right: $base-size--double;
      border-radius: $base-size--double;
      display: inline-block;
      box-shadow: 0 0 5px 0 rgba($color-dark-grey, 0.5);
      //opacity: 0;
      transition: opacity 250ms linear;

      &.is-loaded {
        opacity: 1;
      }
    }
  }
}